@model IEnumerable<PublisherModel>

<h1>Publishers Index Page</h1>
<table class="table">
	<thead>
		<tr>
			<th>
				Publishers
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					<a asp-action="Details" asp-route-id="@item.Id">Games</a>
				</td>
			</tr>
			
		}
	</tbody>
</table>


